---
---
.site-with-sidebar {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.main-content {
  flex: 3;
  min-width: 0;
}

.sidebar {
  flex: 1;
  font-size: 0.9em;

  position: sticky;
  top: 20px;
}