<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}

  <body>
<p style="background: yellow; padding: 10px;">
  BASE.HTML IS ACTIVE
</p>
    {% include header.html %}

    <main class="page-content" aria-label="Content">
       <div class="wrapper layout-with-sidebar">

    <div class="main-content">
      {{ content }}
    </div>

    <aside class="sidebar">
      {% include sidebar.html %}
    </aside>

  </div>
    </main>

    {% include footer.html %}

  </body>
</html>